<div class="container">
  <h1>Welcome to Sinatra!</h1>

 Here is your first form. Use a get request!
<form action="/cool_url" method="get">
  <input type="text" name="user_input">
  <input type="submit" value="Get Request">
  <br>
  <br>
  <br>
  <br>
</form>


<form action="/cool_url" method="post">
    You are in your second form. Time for a post!
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Post Request">
    <input type="text" name="post[title]">
<input type="text" name="post[price]">
<textarea name="post[description]"></textarea>
  </form>


  <!-- <form action="/cool_url" method="post"> -->
    <!-- <textarea "cols=40" rows="5" name="someshit">Cool beans yo</textarea> -->
    <!-- <input type="radio" name="group1" value="Milk"> Milk<br> -->
</div>
