<div class="container">
  <h1>This is the Post_cool_url</h1>

 Here is your first form. Use a get request!
<form action="/cool_url" method="get">
  <input type="text" name="user_input">
  <input type="submit" value="Get Request">
  <br>
  <br>
  <br>
  <br>
</form>


<form action="/cool_url" method="post">
    You are in your second form. Time for a post!
    <br>
    <br>
    Here is your input:
    <p><%= @input %></p>
    <input type="text" name="user_input">
    <input type="submit" value="Post Request">
  </form>
</div>
